<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>devJK</title>
    <link rel="stylesheet" href="/static/css/plugins.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/custom.css">

</head>
<body data-bs-spy="scroll" data-bs-target="#xenav">


<!-- header -->
<header class="site-header">
    <nav class="navbar navbar-expand-lg fixed-bottom gradient_bg">
        <div class="container">
            <a class="navbar-brand" href="/"> <img class="profile_img" src="/static/images/devJK_profile_no_bg.png"
                                                   alt="logo"> </a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#xenav">
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
            </button>
            <div class="collapse navbar-collapse" id="xenav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link pagescroll active" href="#devJK">DevJK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#JK_history">JK's History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#JK_skill">JK's Skill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#contact_JK">Contact JK</a>
                </ul>
            </div>
        </div>
    </nav>

</header>
<!-- header -->

<!--Ful Screen Section Video with caption-->
<section class="full-screen parallax-video parallaxie center-block bg-video-container main-bg" id="devJK">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-8 col-sm-10">
                <div class="center-item text-center video-content">
                    <h3 class="text-capitalize top50 bottom35  whitecolor">
                     <span class="font-xlight block wow fadeIn" data-wow-delay="400ms">
                         devJK, +15 years Fullstack Developer
                     </span>
                    </h3>
                    <h4 class="block wow fadeIn" data-wow-delay="500ms">
                        David JK(Joonki) Jang
                    </h4>
                    <a href="#contact_JK" class="mt-3 button btnwhite pagescroll wow fadeIn" data-wow-delay="600ms">Contact
                        JK</a>
                    <h4 class="mt-lg-5 wow fadeIn" data-wow-delay="500ms">with various industries</h4>
                    <div class="platform">
                        <div>
                            <img class="favor_platform wow fadeIn" data-wow-delay="500ms"
                                 src="/static/images/heineken.png" alt="JK_heineken">
                        </div>
                        <div>
                            <img class="favor_platform wow fadeIn" data-wow-delay="500ms"
                                 src="/static/images/edelman.png"
                                 alt="JK_edelman">
                        </div>
                        <div>
                            <img class="favor_platform wow fadeIn" data-wow-delay="500ms"
                                 src="/static/images/brooksbrothers.png" alt="JK_BBK">
                        </div>
                        <div>
                            <img class="favor_platform wow fadeIn" data-wow-delay="500ms"
                                 src="/static/images/airwafi.png" alt="JK_airwafi">
                        </div>
                        <div>
                            <h3 class="wow fadeIn" data-wow-delay="500ms">and others</h3>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2 col-sm-1"></div>
        </div>
    </div>
    {#    <video class="my-background-video jquery-background-video" loop autoplay muted poster="/static/images/main.jpg">#}
    {#        <source src="" type="video/mp4">#}
    {#    </video>#}
</section>

<!--JK_history-->
<section id="JK_history" class="history bglight">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</section>
<!--JK_history Ends-->


<!--JK_skill-->
<section id="JK_skill" class="skill bglight">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
</section>
<!--JK_skill end-->

<!--contact_JK-->
<section id="contact_JK" class="contact bglight">
    <div class="container-fluid">
        <div class="row">
        </div>
    </div>
    <!--contact_JK Ends-->
</section>
<!--Site Footer Here-->
<footer id="site-footer" class="padding_half">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <ul class="social-icons bottom25 wow fadeInUp" data-wow-delay="300ms">
                    <li><a href="https://www.facebook.com/DavidJKJang"><i class="fa fa-facebook"></i> </a></li>
                    <li><a href="https://www.linkedin.com/in/joonkijang/"><i class="fa fa-linkedin"></i> </a></li>
                </ul>
                <p class="copyrights wow fadeInUp" data-wow-delay="350ms">&copy;
                    <script>document.write(new Date().getFullYear())</script>
                    devJK
                </p>
            </div>
        </div>
    </div>
</footer>
<!--Footer ends-->


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-3.6.0.min.js"></script>

<!--Bootstrap Core-->
<script src="/static/js/popper.min.js"></script>


<!--to view items on reach-->
<script src="/static/js/jquery.appear.js"></script>

<!--Equal-Heights-->
<script src="/static/js/jquery.matchHeight-min.js"></script>

<!--Owl Slider-->
<script src="/static/js/owl.carousel.min.js"></script>

<!--number counters-->
<script src="/static/js/jquery-countTo.js"></script>

<!--Parallax Background-->
<script src="/static/js/parallaxie.js"></script>

<!--Cubefolio Gallery-->
<script src="/static/js/jquery.cubeportfolio.min.js"></script>

<!--FancyBox popup-->
<script src="/static/js/jquery.fancybox.min.js"></script>

<!-- Video Background-->
<script src="/static/js/jquery.background-video.js"></script>

<!--TypeWriter-->
<script src="/static/js/typewriter.js"></script>

<!--Particles-->
<script src="/static/js/particles.min.js"></script>

<!--WOw animations-->
<script src="/static/js/wow.min.js"></script>

<!--Revolution SLider-->
<script src="/static/js/revolution/jquery.themepunch.tools.min.js"></script>
<script src="/static/js/revolution/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="/static/js/revolution/extensions/revolution.extension.actions.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.carousel.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.migration.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.video.min.js"></script>

<!--Google Map API-->
{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJnKEvlwpyjXfS_h-J1Cne2fPMqeb44Mk"></script>#}

<script src="/static/js/functions.js"></script>
</body>
</html>