<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Miracle Earth</title>
    {#<link href="/static/images/favicon.png" rel="icon">#}
    <link rel="stylesheet" href="/static/css/plugins.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/custom.css">

</head>
<body data-bs-spy="scroll" data-bs-target="#xenav">


<!-- header -->
<header class="site-header">
    <nav class="navbar navbar-expand-lg fixed-bottom gradient_bg">
        <div class="container">
            <a class="navbar-brand" href="/"> <img src="/static/images/miracleLogi.png" alt="logo"> </a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#xenav">
                <span> </span>
                <span> </span>
                <span> </span>
                <span> </span>
            </button>
            <div class="collapse navbar-collapse" id="xenav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link pagescroll active" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#latest-product">Latest Arrivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#contact_me">Contact</a>
                </ul>
            </div>
        </div>

        <!--side menu open button-->
        <a href="javascript:void(0)" class="d-none d-lg-inline-block sidemenu_btn" id="sidemenu_toggle">
            <span></span> <span></span> <span></span>
        </a>
    </nav>

    <!-- side menu -->
    <div class="side-menu">
        <div class="inner-wrapper">
            <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
            <nav class="side-nav">
                <ul class="navbar-nav w-100">
                    <li class="nav-item active">
                        <a class="nav-link pagescroll" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#latest-product">Latest Arrivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pagescroll" href="#contact_me">Contact</a>
                    </li>
                </ul>
            </nav>

            <ul class="social-icons-simple white top50 w-100">
                <li><a href="https://www.facebook.com/jinsil.park.58"><i class="fa fa-facebook"></i> </a></li>
                <li><a href="https://www.youtube.com/channel/UCf2w9Ledxr4hmajuz99-MYA"><i class="fa fa-google-plus"></i>
                </a></li>
            </ul>
            <p class="whitecolor">&copy;
                <script>document.write(new Date().getFullYear())</script>
                Miracle Earth
            </p>
        </div>
    </div>
    <a id="close_side_menu" href="javascript:void(0);"></a>
    <!-- End side menu -->
</header>
<!-- header -->

<!--Ful Screen Section Video with caption-->
<section class="full-screen parallax-video parallaxie center-block bg-video-container" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-8 col-sm-10">
                <div class="center-item text-center video-content">
                    <h3 class="text-capitalize top50 bottom35  whitecolor">
                     <span class="font-xlight block wow fadeIn" data-wow-delay="400ms">
                         나, 우리, 모두가 함께 만들어가는 Miracle Earth
                     </span>
                    </h3>
                    <h4 class="block wow fadeIn" data-wow-delay="500ms">
                        JINSIL PARK – CEO MIRACLE EARTH
                    </h4>
                    <a href="#" class="mt-3 button btnwhite pagescroll wow fadeInUp" data-wow-delay="600ms">자세히 알아보기</a>
                </div>
            </div>
            <div class="col-md-2 col-sm-1"></div>
        </div>
    </div>
    <video class="my-background-video jquery-background-video" loop autoplay muted poster="/static/video/main_img.png">
        <source src="/static/video/main_video.mp4" type="video/mp4">
    </video>
</section>

<!-- Our Blogs -->
<section id="blog" class="half-section bglight">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 nopadding">
                <div class="image hover-effect"><img src="/static/images/greeting_1.jpeg" alt="blog1"
                                                     class="equalheight"></div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="split-box text-center center-block equalheight container-padding">
                    <div class="heading-title padding_half">
                        <h2 class="darkcolor bottom25 wow fadeIn" data-wow-delay="350ms">내가 만난 사람은 모두 아름다웠다.</h2>
                        <p class="heading_space wow fadeIn" data-wow-delay="400ms">©2015 이의연 All rights reserved.</p>
{#                        <a href="#" class="button btnsecondary wow fadeInUp" data-wow-delay="500ms">Read Full Story</a>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="split-box text-center center-block equalheight container-padding">
                    <div class="heading-title padding_half">
                        <h2 class="darkcolor bottom25 wow fadeIn" data-wow-delay="350ms">FLOWER by JHU (2019)</h2>
                        <p class="heading_space wow fadeIn" data-wow-delay="400ms">©2019</p>
{#                        <a href="#" class="button btnsecondary wow fadeInUp" data-wow-delay="500ms">Read Full Story</a>#}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 nopadding">
                <div class="image hover-effect"><img src="/static/images/greeting_2.jpg" alt="blog1"
                                                     class="equalheight"></div>
            </div>
        </div>
    </div>
</section>
<!--Our Blogs Ends-->


<!--Gallery-->
<section id="latest-product" class="bglight padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-12 text-center">
                <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                    <span>Latest Arrivals</span>
                    <h2 class="darkcolor bottom10">최신 제품</h2>
                </div>
            </div>
        </div>
        <div id="flat-gallery" class="cbp">
            <div class="cbp-item itemshadow">
                <img src="/static/images/p_image1.JPG" alt="바이오아토솔 로션">
                <div class="overlay center-block whitecolor">
                    <a class="plus" data-fancybox="gallery" href="/static/images/p_image1.JPG"></a>
                    <h4 class="top30">바이오아토솔 로션</h4>
                    <p>40,230 -> 23,500</p>
                </div>
            </div>
                        <div class="cbp-item itemshadow">
                <img src="/static/images/p_image2.JPG" alt="바이오아토솔 로션">
                <div class="overlay center-block whitecolor">
                    <a class="plus" data-fancybox="gallery" href="/static/images/p_image2.JPG"></a>
                    <h4 class="top30">바이오아토솔 로션</h4>
                    <p>40,230 -> 23,500</p>
                </div>
            </div>
                        <div class="cbp-item itemshadow">
                <img src="/static/images/p_image3.JPG" alt="바이오아토솔 로션">
                <div class="overlay center-block whitecolor">
                    <a class="plus" data-fancybox="gallery" href="/static/images/p_image3.JPG"></a>
                    <h4 class="top30">바이오아토솔 로션</h4>
                    <p>40,230 -> 23,500</p>
                </div>
            </div>
                        <div class="cbp-item itemshadow">
                <img src="/static/images/p_image4.JPG" alt="바이오아토솔 로션">
                <div class="overlay center-block whitecolor">
                    <a class="plus" data-fancybox="gallery" href="/static/images/p_image4.JPG"></a>
                    <h4 class="top30">바이오아토솔 로션</h4>
                    <p>40,230 -> 23,500</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Gallery ends -->

<!-- Contact US -->
<section id="contact_me" class="padding_top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="heading-title heading_space wow fadeInUp" data-wow-delay="300ms">
                    <h2 class="darkcolor">연락하기</h2>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 margin_bottom wow fadeInUp" data-wow-delay="350ms">
                <p>나, 우리, 지구의 미래를 함께 만들어가는 Miracle Earth</p>
                <div class="row">
                    <div class="col-md-6 col-sm-6 our-address top40">
                        <h5 class="bottom25">주소</h5>
                        <p class="bottom15">서울특별시 강남구 테헤란로52길 16 테헤란아이파크</p>
                    </div>
                    <div class="col-md-6 col-sm-6 our-address top40">
                        <h5 class="bottom25">연락처</h5>
                        <p class="bottom15">사무실 : +82 070-8824-6050 <span class="block">
                  </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Location Map here-->
</section>
<!--Contact US Ends-->

<!--Site Footer Here-->
<footer id="site-footer" class="padding_half">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <ul class="social-icons bottom25 wow fadeInUp" data-wow-delay="300ms">
                    <li><a href="https://www.facebook.com/jinsil.park.58"><i class="fa fa-facebook"></i> </a></li>
                    <li><a href="https://www.youtube.com/channel/UCf2w9Ledxr4hmajuz99-MYA"><i
                            class="fa fa-google-plus"></i> </a></li>
                </ul>
                <p class="copyrights wow fadeInUp" data-wow-delay="350ms">&copy;
                    <script>document.write(new Date().getFullYear())</script>
                    Miracle Earth
                </p>
            </div>
        </div>
    </div>
</footer>
<!--Footer ends-->


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-3.6.0.min.js"></script>

<!--Bootstrap Core-->
<script src="/static/js/popper.min.js"></script>


<!--to view items on reach-->
<script src="/static/js/jquery.appear.js"></script>

<!--Equal-Heights-->
<script src="/static/js/jquery.matchHeight-min.js"></script>

<!--Owl Slider-->
<script src="/static/js/owl.carousel.min.js"></script>

<!--number counters-->
<script src="/static/js/jquery-countTo.js"></script>

<!--Parallax Background-->
<script src="/static/js/parallaxie.js"></script>

<!--Cubefolio Gallery-->
<script src="/static/js/jquery.cubeportfolio.min.js"></script>

<!--FancyBox popup-->
<script src="/static/js/jquery.fancybox.min.js"></script>

<!-- Video Background-->
<script src="/static/js/jquery.background-video.js"></script>

<!--TypeWriter-->
<script src="/static/js/typewriter.js"></script>

<!--Particles-->
<script src="/static/js/particles.min.js"></script>

<!--WOw animations-->
<script src="/static/js/wow.min.js"></script>

<!--Revolution SLider-->
<script src="/static/js/revolution/jquery.themepunch.tools.min.js"></script>
<script src="/static/js/revolution/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="/static/js/revolution/extensions/revolution.extension.actions.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.carousel.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.migration.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.navigation.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.parallax.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/static/js/revolution/extensions/revolution.extension.video.min.js"></script>

<!--Google Map API-->
{#<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJnKEvlwpyjXfS_h-J1Cne2fPMqeb44Mk"></script>#}

<script src="/static/js/functions.js"></script>
</body>
</html>